.empty-cart
{
    
    svg
    {
        width:80%;
        max-width:220px;
        height:auto;
        *
        {
          fill:$mainColor!important;  
        }
        
    }
    
    @include media-breakpoint-down(sm)
    {
        text-align: center;
    }
}