.table-title
{

    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin-bottom:27px;
        &:before
    {
        content:'';
        display:inline-block;
        height:36px;
        width:3px;
        background-color:$mainColor;
        margin-right:32px;
        margin-left:12px;
    }
    h4
    {
        
        font-size:16px;
        margin-bottom:0;
    }
    

}

.table-products
{
    //margin-left:34px;
    //border-left: 34px solid $mainElementBackground;
    min-width:1000px;
    tr
    {
        
        th,td
        { 
             border-top:none;
             &:nth-child(n+3)
                {
                text-align: center;
            }
        }
        
        th
        {
            font-size:11px;
            color:$lightTableColor;
           
        }
        
        td
        {
            color:$darkFontColor;
            vertical-align:middle;
            font-size:13px;
            font-weight:600;
            border-bottom:1px solid $tableHrColor;
            
            &:not(.table-name)
            {
                width:110px;
            }
            
        
            &.table-photo
            {
                img,svg 
                {
                    width:46px;
                    height:46px;
                    
                } 
                
            }
            
            
            &.table-price
            {
                color:$lightTableColor;
            }
            
            &.table-promotion
            {
                color:$promotionColor;
            }
            
            &.table-name
            {
                svg 
                {
                    fill:$lightTableColor!important;
                    vertical-align: middle;
                    width:20px;
                    margin-bottom:2px;
                }
                
                a 
                {
                    #{$allStates}
                    {
                        text-decoration:none;
                        color:inherit
                    }

                }
                
            }
            
            &.table-quanity
            {
                color:$lightTableColor;
                
                input
                {
                    width:52px;
                    height:32px;
                    background-color:$tableInputColor;
                    border:none;
                    text-align:center;
                    color:inherit;
                }

            }
            
           
        
           
            
        }
        
        &:last-of-type
        {
            td
            {
                border-bottom:none;
            }
        }
    }
    
    &:not(:last-of-type)
    {
        margin-bottom:55px;   
    }
    
    
    /*@include media-breakpoint-down(md)
    {
        margin-left:0;
        th,td
        {
            &:first-of-type,&:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5)
                {
             display:none;   
            }
            
        }
        
        border-left: 10px solid $mainElementBackground;
    }*/
    
    .product-number
    {
        font-size:11px;
        color:$lightFontColor;
        @include media-breakpoint-down(xs)
        {
            display:none;
        }
    }
    
    

}

    /*@media(max-width:1399px)
    {
        .table-discount
        {
            display:none;
        }
    }*/
    
.main-site-table-container
{
    width:100%;
    min-width: 100px;
    flex-wrap: wrap-reverse;
    display: flex;
    
    .main-content
    {
        margin-bottom:30px;
        padding-bottom:0!important;
        width:100%;
        
        
        .table-products
        {
            min-width:auto;
        }
        
        
        @include media-breakpoint-up(xl)
        {
                    &:not(:first-child)
            {
                width:50%!important;
            }
        }

    }
} 

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
{
    background-color:$mainColor!important;
}

.table-products:not(.table-small) td,.table-products:not(.table-small) th
{
    min-width: 120px;
}

.table-small
{
    
    
    td
    {
        height:83px;
    }
    
    .quanity-header
    {
        padding-left:25px;
    }
    
    .number
    {
        width:37px!important;
        margin-left:0;
    }
}

.add-row-to-cart
{
    font-family:'metropolisregular';
    font-weight:600;
}

th.quanity-header
{
    text-align: left!important;
    padding-left:40px;
}

input.number
{
    margin-left:10px;
}

.table-price-end
{
    @extend %font-bold;
}

.table-container
{
    padding-left:32px;
}

.table-products 
{
    th,td
    {
        &:first-of-type
            {
            padding-left: 24px;
        }
    }
    
}

.table thead th
{
    border-bottom:none;
}

.table-history
{
    margin-top:70px;
}


.table-one-of-many
{
    margin-bottom:58px;
}

.table-delete-row
{
    svg
    {
        width:15px;
        height:auto;
        
        *
        {
            fill:$darkFontColor;
        }
    }
}